* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  /* background-color: rgb(235, 235, 235); */
}

.button {
  margin-top: 1rem;
  padding: 0.6rem 1.7rem;
  box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.5);
  /* background: #fc6e51; */
  background-color: #184810;
  color: azure;
  text-transform: uppercase;
  text-decoration: none;
  transition: background-color 0.6s ease;
  border: none;
  outline: none;
  cursor: pointer;
}
.button:hover {
  background: rgb(189, 74, 51);
}

a {
  text-decoration: none;
  color: azure;
}
a:hover {
  color: azure;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

/* HEADER */
.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2b6122;
  color: azure;
  padding: 0 1rem;
}

.brand {
  font-size: 2.5rem;
  display: flex;
  align-items: center;
}

.brand img {
  width: 15rem;
}

.navbar {
  display: none;
  justify-content: center;
  list-style: none;
  font-size: 1.2rem;
  padding-inline-start: 0;
}

.navbar li {
  padding: 1.4rem 1rem;
  border-bottom: 4px solid rgba(255, 255, 255, 0);

  transition: background-color 0.5s ease;
  transition: border-bottom 0.5s ease;
}
.navbar li:hover {
  border-bottom: 4px solid azure;
  cursor: pointer;
  background-color: #347429;
}

.navbar li:first-child {
  background-color: #347429;
}

.search {
  display: none;
  justify-content: flex-end;
}

.search img {
  color: azure;
  width: 1.5rem;
}

/* MAIN */
main {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
  grid-template-areas:
    "page"
    "sidebar";
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.sidebar {
  grid-area: sidebar;
  margin-top: 5rem;
  max-width: 30rem;
  display: grid;
  grid-auto-columns: auto minmax(10rem, 1fr);
  grid-template-areas: "book-recommendation social";
}
.sidebar h4 {
  margin: 1rem 0;
}

.sidebar .book-recommendation {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  grid-area: book-recommendation;
}

.sidebar .book-recommendation img {
  width: 15rem;
}
.sidebar .social {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  grid-area: social;
}
.sidebar .social img {
  display: block;
  width: 4rem;
  cursor: pointer;
}
.page {
  grid-area: page;
  max-width: 960px;
}

.page img {
  width: 100%;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "box1"
    "box2"
    "box3";
  color: azure;
}

.content {
  border-right: 1px solid rgb(168, 168, 168);
}
.box {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 14rem;
}
.box1 {
  grid-area: box1;
  background-image: url("../img/dog-clicker-training.jpg");
  padding: 0 4rem;
  text-align: center;
}
.box > h2,
p {
  background: rgba(0, 0, 0, 0);
  padding: 0.2rem;
}
.box1 p {
  margin-top: 1rem;
}
.box2 {
  grid-area: box2;
  background-image: url("../img/dog-bed.jpg");
}
.box3 {
  grid-area: box3;
  background-image: url("../img/advice.jpg");
}

.article-section {
  margin: 0 2rem;
}
.article {
  margin-top: 5rem;
}
.article p {
  margin-top: 1rem;
}

.wave {
  margin-bottom: -1rem; /* Fråga varför detta behövs */
}

/* FOOTER */
footer {
  background-color: #2b6122;
  color: azure;
  padding-bottom: 5rem;
}

.contact-info {
  width: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-info h2,
p {
  margin-bottom: 1rem;
}

.contact-info .email {
  color: #77aae9;
}

.googlemaps {
  margin-top: 2rem;
}

/* LARGE SCREEN */
@media only screen and (min-width: 1150px) {
  .navbar {
    display: flex;
  }

  .search {
    display: flex;
  }

  .hamburger-menu {
    display: none;
  }
}

/* MEDIUM SCREEN */
@media only screen and (min-width: 900px) {
  main {
    grid-template-columns: auto auto;
    justify-content: center;
    grid-template-areas: "page sidebar";
  }
  .grid-container {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "box1 box2"
      "box1 box3";
  }

  .content {
    padding-right: 2rem;
  }
  .box1 {
    background-size: 180%;
    height: 28rem;
  }

  .sidebar {
    grid-template-areas: "book-recommendation" "social";
    justify-items: center;
    align-items: start;
    max-width: 20rem;
    padding: 0 2rem;

    margin-top: 1rem;
  }

  .sidebar .book-recommendation {
    align-items: center;
    justify-content: flex-start;
  }

  .sidebar .social {
    align-items: center;
  }

  footer {
    flex-direction: row !important;
  }

  .contact-info {
    margin-right: 2rem;
  }
}

/* ANIMATIONS */
.underline-effect {
  position: relative;
}

.underline-effect::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #77aae9;
  transform-origin: bottom right;
  transform: scaleX(0);
  transition: transform 0.5s ease;
}

.underline-effect:hover::before {
  transform-origin: bottom left;
  transform: scaleX(1);
}
